src/content-page-2.pug
//- ====================
//- kontora: content-page
//- 00-00-2017:
//- --------------------
//- Контентная страница.
//- ====================

//- Используем стандартный шаблон Project
extends ./template/base_layout

block variables
    - var file_name = 'content-page'
    - var bodyClass = 'content-page'

//- Модифицируем head
block head
    - var pageTitle = 'Пример контентной страницы';

//- Выводим попапы
block popup

//- Выводим content
block content

    include section/head-block.pug
    include section/ui-kit/title.pug
    include section/ui-kit/link.pug
    include section/ui-kit/image.pug
    include section/ui-kit/card.pug
    include section/news-slider.pug

    +head-block({
        decors: [
            'hazelnut_leaf_1', 
            'peanut_2',
            'peanut_4',
            'cashew_1',
            'walnut_3'
        ],
        title: '3&nbsp;интересных факта об&nbsp;орехах, которых вы&nbsp;не&nbsp;знали',
        full: true,
        image: 'images/content/nuts_news.jpg',
        breadcrumbs: ['Главная', 'Блог', 'Статьи'],
        lead: 'Из&nbsp;какого ореха делают клей? Кто украл орешки у&nbsp;королевы Елизаветы? Все знают, что орехи&nbsp;&mdash; это полезно. Но&nbsp;есть несколько фактов, которые могут удивить&nbsp;&mdash; о&nbsp;них и&nbsp;поговорим сегодня.'
    })

    .b-container.b-container--content
        
        +b.article.--list

            .b-head-block__lead-mobile Из какого ореха делают клей? Кто украл орешки у королевы Елизаветы? Все знают, что орехи — это полезно. Но есть несколько фактов, которые могут удивить — о них и поговорим сегодня.
            +title('h2', '1. Арахис')
            p Арахис доступный орех и популярная закуска. Вы только попробуйте 
                a нашу тарелку&#8209;ассорти! 
                | Только вот он — совсем не орех. Арахис — это боб, совсем как горох или фасоль. Интересно, что из арахиса делают пластмассу, синтетические нитки, клей и вообще много используют его в химической промышленности.
            +image({
                    'items':[
                    {
                        'src_mobile': 'images/content/article/mobile/nuts_2.jpg',
                        'src_tablet': 'images/content/article/tablet/nuts_2.jpg',
                        'src_desc': 'images/content/article/desktop/nuts_2.jpg',
                        'alt' : ''
                    }
                ]})
            +title('h2', '2. Кокос')
            p А вот еще один не&#8209;орех: кокосовый орех на самом деле — семечко пальмы. Жидкость в нем — вовсе не кокосовое молоко, как привыкли считать. Кокосовое молоко получают при отжиме мякоти.
            +image({
                    'items':[
                    {
                        'src_mobile': 'images/content/article/mobile/nuts_3.jpg',
                        'src_tablet': 'images/content/article/tablet/nuts_3.jpg',
                        'src_desc': 'images/content/article/desktop/nuts_3.jpg',
                        'alt' : ''
                    }
                ]})
            +title('h2', '3. Грецкий орех')
            p Популярные у нас грецкие орехи называются так не потому, что их родина — Греция. На самом деле, грецкие орехи произошли из Азии, а вот на территорию России их начали ввозить греческие торговцы. Оттуда и пошло название «грецкий орех». В древнем Вавилоне грецкие орехи запрещали есть простым людям — считалось, что если съесть много орехов, можно поумнеть.
            +image({
                    'items':[
                    {
                        'src_mobile': 'images/content/article/mobile/nuts_4.jpg',
                        'src_tablet': 'images/content/article/tablet/nuts_4.jpg',
                        'src_desc': 'images/content/article/desktop/nuts_4.jpg',
                        'alt' : ''
                    }
                ]})
    .b-container.b-container--news-slider
        +news-slider()           

build/content-page-2.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google" value="notranslate">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="noindex, nofollow">
    <link rel="shortcut icon" href="/images/favicon/favicon.ico" type="image/x-icon">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
    <link href="css/tablet.css" rel="stylesheet" media="(min-width: 768px)">
    <link href="css/desktop-min.css" rel="stylesheet" media="(min-width: 1024px)">
    <link href="css/desktop.css" rel="stylesheet" media="(min-width: 1366px)">
    <link href="css/desktop-big.css" rel="stylesheet" media="(min-width:1440px)">
    <link href="css/desktop-fullhd.css" rel="stylesheet" media="(min-width:1920px)">
    <title>Пример контентной страницы</title>
    <meta name="description" content="">
    <meta name="keywords" content=""><!--[if lte IE 9]>
    <script src="js/html5shiv/html5shiv.min.js"></script><![endif]-->
  </head>
  <body class="content-page">
    <div class="b-page-wrapper">
      <header class="b-header">
        <div class="b-container b-container--wide">
          <div class="b-header__inner">
            <div class="b-burger"><a class="b-burger__link js-burger" href="javascript:void(0);"><span class="b-burger__line"></span></a>
              <div class="b-burger__menu js-burger-menu"><a class="b-logo" href="/" title=""><img class="b-logo__image" src="images/inhtml/logo.svg" title="" alt="" role="presentation"/></a><a class="b-burger__link-close js-burger-close" href="javascript:void(0);" title="Закрыть"></a>
                <ul class="b-burger__menu-list">
                  <li class="b-burger__item"> <a class="b-link b-link--burger js-burger-link is-expand" href="/catalog" title="Каталог">Каталог</a>
                    <div class="b-burger__menu-lvl2 b-burger__menu-lvl2--catalog is-expand">
                      <div class="b-burger__wrap js-scroll-block">
                        <div class="b-burger__inner-lvl2">
                          <h4 class="b-title b-title--lvl2">По категории
                          </h4>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Орехи">Орехи</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Сухофрукты">Сухофрукты</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Драже">Драже</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Смеси">Смеси</a>
                          </div>
                        </div>
                        <div class="b-burger__inner-lvl2">
                          <h4 class="b-title b-title--lvl2">По названию
                          </h4>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Кедровый орех">Кедровый орех</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Грецкий орех">Грецкий орех</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Миндаль">Миндаль</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Фундук">Фундук</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Фисташки">Фисташки</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Кешью">Кешью</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Арахис">Арахис</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Курага">Курага</a>
                          </div>
                          <div class="b-burger__link-wrap"><a class="b-link b-link--lvl2" title="Чернослив">Чернослив</a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="b-burger__item"> <a class="b-link b-link--burger js-burger-link" title="О компании">О компании</a>
                    <div class="b-burger__menu-lvl2"><img class="b-burger__img" src="images/inhtml/about-company.png" alt="" role="presentation"/>
                      <div class="b-burger__text">
                        <p>Продукция Seven Nuts производится с&nbsp;2012 года на&nbsp;заводах GreenLine по&nbsp;собственным рецептам и&nbsp;на&nbsp;современном оборудовании.</p>
                      </div><a class="b-button b-button--more" title="Подробнее">Подробнее</a>
                    </div>
                  </li>
                  <li class="b-burger__item"> <a class="b-link b-link--burger js-burger-link" title="Блог">Блог</a>
                    <div class="b-burger__menu-lvl2">
                      <div class="b-burger__inner-blog"><a class="b-burger__blog-link" href="javascript:void(0);"><i class="b-burger__blog-icon"><img src="images/inhtml/percent.svg" alt="" role="presentation"/></i><span>Акции</span></a><a class="b-burger__blog-link" href="javascript:void(0);"><i class="b-burger__blog-icon"><img src="images/inhtml/b2.png" alt="" role="presentation"/></i><span>Статьи</span></a><a class="b-burger__blog-link" href="javascript:void(0);"><i class="b-burger__blog-icon"><img src="images/inhtml/b3.png" alt="" role="presentation"/></i><span>Новости</span></a>
                      </div><a class="b-button b-button--more" title="ПЕРЕЙТИ В БЛОГ">ПЕРЕЙТИ В БЛОГ</a>
                    </div>
                  </li>
                  <li class="b-burger__item hidden-xs"><a class="b-link b-link--burger js-burger-link" title="Где купить">Где купить</a>
                    <div class="b-burger__menu-lvl2">
                      <div class="b-burger__inner-market"><a class="b-burger__market-link" href="javascript:void(0);"><img src="images/markets/wildberries.png" alt="" role="presentation"/></a><a class="b-burger__market-link" href="javascript:void(0);"><img src="images/markets/azbuka-vkusa.png" alt="" role="presentation"/></a><a class="b-burger__market-link" href="javascript:void(0);"><img src="images/markets/yandex.png" alt="" role="presentation"/></a>
                      </div>
                    </div>
                  </li>
                  <li class="b-burger__item"><a class="b-link b-link--burger js-burger-link" title="Контакты">Контакты</a>
                    <div class="b-burger__menu-lvl2">
                      <div class="b-burger__inner-contacts">
                        <div class="b-contact-card b-contact-card--main">
                          <div class="b-contact-card__text-groupe">
                            <h2 class="b-title b-title--address">Горячая линия
                            </h2><a class="b-contact-card__phone b-contact-card__phone--main" href="tel:+74952121102" title="+7 (495) 21-21-102">+7 (495) 21-21-102</a>
                            <div class="b-contact-card__property">Единый многоканальный номер
                            </div>
                            <div class="b-contact-card__proviso">Звонок по России бесплатный
                            </div>
                          </div>
                        </div>
                        <div class="b-contact-card">
                          <div class="b-contact-card__text-groupe">
                            <h2 class="b-title b-title--address">Главный офис
                            </h2><a class="b-contact-card__phone" href="tel:+74952121102" title="+7 (495) 21-21-102">+7 (495) 21-21-102</a><a class="b-contact-card__email" href="mailto:info@greenline77.ru" title="info@greenline77.ru">info@greenline77.ru</a>
                            <address class="b-contact-card__address">РФ, 127411, Москва, Дмитровское шоссе, 157, стр. 9, офис 9308 а,б,в.
                            </address>
                          </div>
                        </div>
                      </div><a class="b-button b-button--more" title="Подробнее">Подробнее</a>
                    </div>
                  </li>
                </ul>
                <div class="b-social"><a class="b-social__link" href="https://www.facebook.com/" title=""> <i class="b-icon b-icon--social b-icon--fb icon-fb"></i></a><a class="b-social__link" href="https://www.instagram.com/" title=""> <i class="b-icon b-icon--social b-icon--inst icon-inst"></i></a><a class="b-social__link" href="https://www.vk.com/" title=""> <i class="b-icon b-icon--social b-icon--vk icon-vk"></i></a>
                </div>
                <div class="b-manufacturer"><a class="b-manufacturer__link" href="https://greenline77.ru/" title=""> <span>Производитель</span></a>
                </div>
              </div>
            </div><a class="b-link b-link--left b-link--bold hidden-xs" title="Каталог продукции">Каталог продукции</a><a class="b-logo" href="/" title=""><img class="b-logo__image" src="images/inhtml/logo.svg" title="" alt="" role="presentation"/></a><a class="b-link b-link--right b-link--bold b-link--color" title="Акции">Акции</a>
          </div>
        </div>
      </header>
      <main class="b-main" role="main">
        <section class="b-head-block js-head js-full">
          <div class="b-head-block__image-wrapper"><img class="b-head-block__img" src="images/content/nuts_news.jpg" alt="" role="presentation"/>
          </div>
          <div class="b-container">
            <div class="b-head-block__inner">
              <nav class="b-breadcrumbs">
                <ul class="b-breadcrumbs__list">
                  <li class="b-breadcrumbs__item"><a class="b-breadcrumbs__link" href="javascript:void(0);" title="Главная">Главная</a>
                  </li>
                  <li class="b-breadcrumbs__item"><a class="b-breadcrumbs__link" href="javascript:void(0);" title="Блог">Блог</a>
                  </li>
                  <li class="b-breadcrumbs__item"><a class="b-breadcrumbs__link" href="javascript:void(0);" title="Статьи">Статьи</a>
                  </li>
                </ul>
              </nav>
              <h1 class="b-title">3&nbsp;интересных факта об&nbsp;орехах, которых вы&nbsp;не&nbsp;знали
              </h1>
              <div class="b-head-block__information">
                <div class="b-head-block__information-source"><span>Источник:</span><a class="b-link" title="Ссылка">Ссылка</a>
                </div>
                <time>20 августа 2020</time>
              </div>
              <div class="b-head-block__lead">Из&nbsp;какого ореха делают клей? Кто украл орешки у&nbsp;королевы Елизаветы? Все знают, что орехи&nbsp;&mdash; это полезно. Но&nbsp;есть несколько фактов, которые могут удивить&nbsp;&mdash; о&nbsp;них и&nbsp;поговорим сегодня.
              </div>
              <div class="b-head-block__arrow"><i class="b-icon icon-arrow-down"></i>
                <div class="b-head-block__arrow-text">Интересно? Листайте вниз
                </div>
              </div>
            </div>
          </div>
          <div class="b-decor"><img class="b-decor__img b-decor__img--hazelnut_leaf_1" src="images/inhtml/hazelnut_leaf_1.png" alt="" role="presentation"/><img class="b-decor__img b-decor__img--peanut_2" src="images/inhtml/peanut_2.png" alt="" role="presentation"/><img class="b-decor__img b-decor__img--peanut_4" src="images/inhtml/peanut_4.png" alt="" role="presentation"/><img class="b-decor__img b-decor__img--cashew_1" src="images/inhtml/cashew_1.png" alt="" role="presentation"/><img class="b-decor__img b-decor__img--walnut_3" src="images/inhtml/walnut_3.png" alt="" role="presentation"/>
          </div>
        </section>
        <div class="b-container b-container--content">
          <div class="b-article b-article--list">
            <div class="b-head-block__lead-mobile">Из какого ореха делают клей? Кто украл орешки у королевы Елизаветы? Все знают, что орехи — это полезно. Но есть несколько фактов, которые могут удивить — о них и поговорим сегодня.</div>
            <h2 class="b-title">1. Арахис
            </h2>
            <p>Арахис доступный орех и популярная закуска. Вы только попробуйте <a>нашу тарелку&#8209;ассорти! </a>Только вот он — совсем не орех. Арахис — это боб, совсем как горох или фасоль. Интересно, что из арахиса делают пластмассу, синтетические нитки, клей и вообще много используют его в химической промышленности.</p>
            <div class="b-image">
              <picture class="b-image__picture"><source media="(min-width: 1440px)" srcset="images/content/article/desktop/nuts_2.jpg"/><source media="(min-width: 768px)" srcset="images/content/article/tablet/nuts_2.jpg"/><img class="b-image__image" src="images/content/article/mobile/nuts_2.jpg" alt="" role="presentation"/>
              </picture>
            </div>
            <h2 class="b-title">2. Кокос
            </h2>
            <p>А вот еще один не&#8209;орех: кокосовый орех на самом деле — семечко пальмы. Жидкость в нем — вовсе не кокосовое молоко, как привыкли считать. Кокосовое молоко получают при отжиме мякоти.</p>
            <div class="b-image">
              <picture class="b-image__picture"><source media="(min-width: 1440px)" srcset="images/content/article/desktop/nuts_3.jpg"/><source media="(min-width: 768px)" srcset="images/content/article/tablet/nuts_3.jpg"/><img class="b-image__image" src="images/content/article/mobile/nuts_3.jpg" alt="" role="presentation"/>
              </picture>
            </div>
            <h2 class="b-title">3. Грецкий орех
            </h2>
            <p>Популярные у нас грецкие орехи называются так не потому, что их родина — Греция. На самом деле, грецкие орехи произошли из Азии, а вот на территорию России их начали ввозить греческие торговцы. Оттуда и пошло название «грецкий орех». В древнем Вавилоне грецкие орехи запрещали есть простым людям — считалось, что если съесть много орехов, можно поумнеть.</p>
            <div class="b-image">
              <picture class="b-image__picture"><source media="(min-width: 1440px)" srcset="images/content/article/desktop/nuts_4.jpg"/><source media="(min-width: 768px)" srcset="images/content/article/tablet/nuts_4.jpg"/><img class="b-image__image" src="images/content/article/mobile/nuts_4.jpg" alt="" role="presentation"/>
              </picture>
            </div>
          </div>
        </div>
        <div class="b-container b-container--news-slider">
          <div class="b-news-slider">
            <div class="b-news-slider__header">
              <h3 class="b-title b-title--news-slider">Читайте также
              </h3>
              <div class="b-news-slider__arrow"><a class="b-link js-prev" title=""><i class="b-icon b-icon--news-slider b-icon--slider-left icon-arrow-left"></i></a><a class="b-link js-next" title=""><i class="b-icon b-icon--news-slider icon-arrow-right"></i></a>
              </div>
            </div>
            <div class="b-news-slider__slider js-news">
              <div class="b-card"><a class="b-card__link" href="javascript:void(0);">
                <div class="b-card__wrapper"><img class="b-card__image" src="images/content/nuts_news.jpg" alt="" role="presentation"/>
                  <div class="b-card__information">
                    <date class="date">20.07.2020</date>
                    <div class="b-card__signature">Новости
                    </div>
                  </div>
                  <div class="b-card__text">Новинка: Полюбившиеся драже в новой упаковке!
                  </div><i class="b-icon b-icon--plus icon-plus"></i>
                </div></a>
              </div>
              <div class="b-card"><a class="b-card__link" href="javascript:void(0);">
                <div class="b-card__wrapper"><img class="b-card__image" src="images/content/nuts_news.jpg" alt="" role="presentation"/>
                  <div class="b-card__information">
                    <date class="date">20.07.2020</date>
                    <div class="b-card__signature">Новости
                    </div>
                  </div>
                  <div class="b-card__text">«Продэкспо-2017» - итог работы и взгляд в будущее отрасли
                  </div><i class="b-icon b-icon--plus icon-plus"></i>
                </div></a>
              </div>
              <div class="b-card"><a class="b-card__link" href="javascript:void(0);">
                <div class="b-card__wrapper"><img class="b-card__image" src="images/content/nuts_news.jpg" alt="" role="presentation"/>
                  <div class="b-card__information">
                    <date class="date">20.07.2020</date>
                    <div class="b-card__signature">Новости
                    </div>
                  </div>
                  <div class="b-card__text">«Как это сделано: Орехи в шоколадной глазури
                  </div><i class="b-icon b-icon--plus icon-plus"></i>
                </div></a>
              </div>
              <div class="b-card"><a class="b-card__link" href="javascript:void(0);">
                <div class="b-card__wrapper"><img class="b-card__image" src="images/content/nuts_news.jpg" alt="" role="presentation"/>
                  <div class="b-card__information">
                    <date class="date">20.07.2020</date>
                    <div class="b-card__signature">Новости
                    </div>
                  </div>
                  <div class="b-card__text">«Как это сделано: Орехи в шоколадной глазури
                  </div><i class="b-icon b-icon--plus icon-plus"></i>
                </div></a>
              </div>
            </div>
          </div>
        </div>
      </main>
      <div class="b-footer">
        <div class="b-container b-container--wide">
          <div class="b-footer__inner"><a class="b-logo" href="/" title=""><img class="b-logo__image" src="images/inhtml/logo.svg" title="" alt="" role="presentation"/></a>
            <ul class="b-footer__menu">
              <li class="b-footer__menu-item"><a class="b-link b-link--footer-menu" title="Главная">Главная</a>
              </li>
              <li class="b-footer__menu-item"><a class="b-link b-link--footer-menu" title="О компании">О компании</a>
              </li>
              <li class="b-footer__menu-item"><a class="b-link b-link--footer-menu" title="Контакты">Контакты</a>
              </li>
              <li class="b-footer__menu-item"><a class="b-link b-link--footer-menu" title="Каталог">Каталог</a>
              </li>
              <li class="b-footer__menu-item b-footer__menu-item--hidden"><a class="b-link b-link--footer-menu" title="Где купить">Где купить</a>
              </li>
              <li class="b-footer__menu-item"><a class="b-link b-link--footer-menu" title="Блог">Блог</a>
              </li>
            </ul>
            <div class="b-footer__contacts"><a class="b-footer__call" href="tel:88005507444">8 (800) 550-74-44</a><a class="b-footer__email" href="mailto:info@sevennuts.ru">info@sevennuts.ru</a><a class="b-footer__question js-open-popup" href="javascript:void(0);" title="Задать вопрос" data-popup="popup-form">Задать вопрос</a>
              <div class="b-social"><a class="b-social__link" href="https://www.facebook.com/" title=""> <i class="b-icon b-icon--social b-icon--fb icon-fb"></i></a><a class="b-social__link" href="https://www.instagram.com/" title=""> <i class="b-icon b-icon--social b-icon--inst icon-inst"></i></a><a class="b-social__link" href="https://www.vk.com/" title=""> <i class="b-icon b-icon--social b-icon--vk icon-vk"></i></a>
              </div>
            </div>
            <div class="b-manufacturer"><a class="b-manufacturer__link" href="https://greenline77.ru/" title=""> <span>Производитель</span></a>
            </div>
          </div>
        </div>
        <div class="b-footer__copyright"><span>Все права защищены &copy;&nbsp;2020</span>
        </div>
      </div>
    </div>
        <div class="b-popup b-popup--form" data-popup="popup-form">
          <div class="b-popup__content"><a class="b-button b-button--popup-close js-close-popup" title=""></a>
                <h3 class="b-title">Задать вопрос
                </h3>
                <div class="b-feedback">
                  <div class="b-feedback__top-line">
                        <h3 class="b-title b-title--feedback">Напишите нам
                        </h3>
                    <p class="b-feedback__description">Заполните поля формы обратной связи, и мы с радостью ответим на ваши вопросы и предложения.
                    </p>
                  </div>
                  <div class="b-feedback__form-wrapper">
                    <form class="b-feedback__form js-form-validate" action="/json/form.json" name="contacts">
                          <div class="b-input b-input--feedback">
                            <label class="b-input__label b-input__label--feedback" for="feed-name" required="required">Ваше имя*
                            </label><input class="b-input__input-field b-input__input-field--feedback" id="feed-name" type="text" name="feed-name" required="required"/>
                          </div>
                          <div class="b-input b-input--feedback">
                            <label class="b-input__label b-input__label--feedback" for="feed-tel" required="required">Телефон*
                            </label><input class="b-input__input-field b-input__input-field--feedback" id="feed-tel" type="tel" name="feed-tel" required="required"/>
                          </div>
                          <div class="b-input b-input--feedback">
                            <label class="b-input__label b-input__label--feedback" for="feed-message" required="required">Сообщение
                            </label><textarea class="b-input__textarea-field b-input__textarea-field--feedback" id="feed-message" type="tel" name="feed-message" required="required"></textarea>
                          </div>
                      <p class="b-feedback__notice">Нажимая на кнопку “Отправить”, вы даете согласие на обработку персональных данных.
                      </p>
                          <button class="b-button b-button--feedback js-check-form js-custom-popup" data-popup="popup-send">Отправить
                          </button>
                    </form>
                  </div>
                </div>
          </div>
        </div>
        <div class="b-popup b-popup--send" data-popup="popup-send">
          <div class="b-popup__content"><a class="b-button b-button--popup-close js-close-popup" title=""></a>
            <div class="b-popup__inner"><i class="b-icon icon-send"></i>
                  <h3 class="b-title">Отправлено
                  </h3>
              <div class="b-popup__text"><span>Спасибо за&nbsp;обращение!</span><span>Сообщение отправлено успешно, и&nbsp;менеджер скоро вам ответит.</span>
              </div>
            </div>
          </div>
        </div>
    <script src="js/external.js"></script>
    <script src="js/internal.js"></script>
  </body>
</html>
