src/iconlist.pug
//- Используем стандартный шаблон
extends ./template/index_layout

//- Модифицируем head
block head
    - var pageTitle = 'Страница иконок';

//- Выводим контент
block content
    ul
    
        li
            i(class="b-icon icon-almond")  .icon-almond
    
        li
            i(class="b-icon icon-arrow-left")  .icon-arrow-left
    
        li
            i(class="b-icon icon-arrow-down")  .icon-arrow-down
    
        li
            i(class="b-icon icon-cashew")  .icon-cashew
    
        li
            i(class="b-icon icon-arrow-right")  .icon-arrow-right
    
        li
            i(class="b-icon icon-catalog")  .icon-catalog
    
        li
            i(class="b-icon icon-certificate")  .icon-certificate
    
        li
            i(class="b-icon icon-close-popup")  .icon-close-popup
    
        li
            i(class="b-icon icon-close")  .icon-close
    
        li
            i(class="b-icon icon-dried-apricot")  .icon-dried-apricot
    
        li
            i(class="b-icon icon-eco")  .icon-eco
    
        li
            i(class="b-icon icon-fb")  .icon-fb
    
        li
            i(class="b-icon icon-filter")  .icon-filter
    
        li
            i(class="b-icon icon-hazelnut")  .icon-hazelnut
    
        li
            i(class="b-icon icon-hover-menu")  .icon-hover-menu
    
        li
            i(class="b-icon icon-inst")  .icon-inst
    
        li
            i(class="b-icon icon-logo-gl")  .icon-logo-gl
    
        li
            i(class="b-icon icon-map")  .icon-map
    
        li
            i(class="b-icon icon-menu-arrow")  .icon-menu-arrow
    
        li
            i(class="b-icon icon-menu-dots")  .icon-menu-dots
    
        li
            i(class="b-icon icon-more")  .icon-more
    
        li
            i(class="b-icon icon-nuts")  .icon-nuts
    
        li
            i(class="b-icon icon-ok")  .icon-ok
    
        li
            i(class="b-icon icon-peanut")  .icon-peanut
    
        li
            i(class="b-icon icon-pine-nut")  .icon-pine-nut
    
        li
            i(class="b-icon icon-pistachio")  .icon-pistachio
    
        li
            i(class="b-icon icon-plus")  .icon-plus
    
        li
            i(class="b-icon icon-prunes")  .icon-prunes
    
        li
            i(class="b-icon icon-route")  .icon-route
    
        li
            i(class="b-icon icon-send")  .icon-send
    
        li
            i(class="b-icon icon-sort")  .icon-sort
    
        li
            i(class="b-icon icon-sorting")  .icon-sorting
    
        li
            i(class="b-icon icon-tech")  .icon-tech
    
        li
            i(class="b-icon icon-vk")  .icon-vk
    
        li
            i(class="b-icon icon-walnut")  .icon-walnut
    

build/iconlist.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimal-ui, user-scalable=no">
    <meta name="skype_toolbar" content="skype_toolbar_parser_compatible">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="google" value="notranslate">
    <meta name="format-detection" content="telephone=no">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/mobile.css" rel="stylesheet">
    <link href="css/tablet.css" rel="stylesheet" media="(min-width: 768px)">
    <link href="css/desktop-min.css" rel="stylesheet" media="(min-width: 1024px)">
    <link href="css/desktop.css" rel="stylesheet" media="(min-width: 1366px)">
    <link href="css/desktop-big.css" rel="stylesheet" media="(min-width:1440px)">
    <link href="css/desktop-fullhd.css" rel="stylesheet" media="(min-width:1920px)">
    <title>Страница иконок</title><!--[if lte IE 9]>
    <script src="js/html5shiv/html5shiv.min.js"></script><![endif]-->
  </head>
  <body>
    <ul>
      <li><i class="b-icon icon-almond"> .icon-almond</i></li>
      <li><i class="b-icon icon-arrow-left"> .icon-arrow-left</i></li>
      <li><i class="b-icon icon-arrow-down"> .icon-arrow-down</i></li>
      <li><i class="b-icon icon-cashew"> .icon-cashew</i></li>
      <li><i class="b-icon icon-arrow-right"> .icon-arrow-right</i></li>
      <li><i class="b-icon icon-catalog"> .icon-catalog</i></li>
      <li><i class="b-icon icon-certificate"> .icon-certificate</i></li>
      <li><i class="b-icon icon-close-popup"> .icon-close-popup</i></li>
      <li><i class="b-icon icon-close"> .icon-close</i></li>
      <li><i class="b-icon icon-dried-apricot"> .icon-dried-apricot</i></li>
      <li><i class="b-icon icon-eco"> .icon-eco</i></li>
      <li><i class="b-icon icon-fb"> .icon-fb</i></li>
      <li><i class="b-icon icon-filter"> .icon-filter</i></li>
      <li><i class="b-icon icon-hazelnut"> .icon-hazelnut</i></li>
      <li><i class="b-icon icon-hover-menu"> .icon-hover-menu</i></li>
      <li><i class="b-icon icon-inst"> .icon-inst</i></li>
      <li><i class="b-icon icon-logo-gl"> .icon-logo-gl</i></li>
      <li><i class="b-icon icon-map"> .icon-map</i></li>
      <li><i class="b-icon icon-menu-arrow"> .icon-menu-arrow</i></li>
      <li><i class="b-icon icon-menu-dots"> .icon-menu-dots</i></li>
      <li><i class="b-icon icon-more"> .icon-more</i></li>
      <li><i class="b-icon icon-nuts"> .icon-nuts</i></li>
      <li><i class="b-icon icon-ok"> .icon-ok</i></li>
      <li><i class="b-icon icon-peanut"> .icon-peanut</i></li>
      <li><i class="b-icon icon-pine-nut"> .icon-pine-nut</i></li>
      <li><i class="b-icon icon-pistachio"> .icon-pistachio</i></li>
      <li><i class="b-icon icon-plus"> .icon-plus</i></li>
      <li><i class="b-icon icon-prunes"> .icon-prunes</i></li>
      <li><i class="b-icon icon-route"> .icon-route</i></li>
      <li><i class="b-icon icon-send"> .icon-send</i></li>
      <li><i class="b-icon icon-sort"> .icon-sort</i></li>
      <li><i class="b-icon icon-sorting"> .icon-sorting</i></li>
      <li><i class="b-icon icon-tech"> .icon-tech</i></li>
      <li><i class="b-icon icon-vk"> .icon-vk</i></li>
      <li><i class="b-icon icon-walnut"> .icon-walnut</i></li>
    </ul>
  </body>
</html>
